{name, "epubnub"}.
{authors, ["Tristan Sloughter <tristan.sloughter@gmail.com"]}.
{description, "Erlang bindings for PubNub.com service."}.
{homepage, "https://github.com/tsloughter/epubnub"}.
{rebar_compatible, true}.
{license, "GPL"}.
{url, {git, "git@github.com:tsloughter/epubnub.git", "master"}}.  % Ref is either "[sha1]", or {tag, "[tag name]"} or {branch, "[BranchName]"}
{applications, [epubnub]}.
