{name, "epubnub"}.
{authors, ["Tristan Sloughter <tristan.sloughter@gmail.com>"]}.
{description, "Erlang bindings for PubNub.com service."}.
{homepage, "https://github.com/tsloughter/epubnub"}.
{rebar_compatible, true}.
{license, "GPL"}.
{url, {git, "https://github.com/tsloughter/epubnub.git", {branch, "master"}}}. 
{applications, [epubnub]}.
